/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#txt_chat .text{
 -fx-fill: black;
 -fx-font-size: 16.0px;

}
#txt_chat .red{
	-rtfx-background-color: red;
	
}
#pn_home{
	-fx-background-color: #ffffff;
}

menu{
	-fx-background-color: #ffffff;
}

#pn_chat{
	-fx-background-color: #ffffff;
}



#pn_beallit{
	-fx-background-color: #ffffff;
}

#pn_custom{
	-fx-background-color: #ffffff;
}

#txt_message{
	-fx-background-color: #d2d6d8;
}

#txt_ip{
	-fx-background-color: #cdd5f4;
	-fx-prompt-text-fill: black;
}

#txt_username{
	-fx-background-color: #cdd5f4;
	-fx-prompt-text-fill: black;

}

#txt_chat{
	-fx-background-color: #d2d6d8;
}

#txt_chat .green{	
	-rtfx-background-color: green;
}

#btn_beallit2{
	 -fx-background-color:  #cdd5f4;
}

.switch .thumb-area{
	-fx-background-color: #7289da;
}

.switch:selected .thumb-area {
    -fx-background-color: #2c2f33;
}

.list-view .list-cell:even {
-fx-background-color: #ffffff;
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-background-color: #7289da;
-fx-text-fill: black;
}